@import url("https://fonts.googleapis.com/css2?family=Doppio+One&display=swap");

header {
  width: 100%;
}

html,
body {
  margin: 0px;
  padding: 0px;
  background-image: url("./images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  width: 100%;
}

header #header-date  {
  /* font-weight: bold; */
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

main {
  font-family: "Doppio One", sans-serif, Verdana;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*  don't know if we need this */
/* #main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.container-fluid .nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.container-fluid .nav-bar h3 {
  margin-top: 0.2em;
  font-size: 1.5rem;
}

header ul {
  gap: 10px;
}

.task-button {
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin: 20px;
  margin-bottom: 50px;
}

form {
  width: 600px;
}

/* try and put in one straight line */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}

.card {
  width: 20.5em;
  line-height: 2em;
  opacity: 0.9;
  border: 0px;
}

.cards .card {
  border: 0;
}

/* can't figure out why the gap in the middle */
.card:hover {
  border: 4px solid rgb(180, 58, 155);
  transition: 0.1s;
  border-radius: 10px 10px;
  border-radius: 10px 10px;
}

.card .card-body .card-text {
  height: 100%;
}

.card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card .card-body .card-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card .card-body .card-title {
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
  width: 100%;
}

.card .card-body .card-status {
  width: 40%;
  margin: 0.5em;
  text-transform: capitalize;
}

.card .card-body .card-date {
  font-size: 0.9em;
  width: 50%;
  padding: 0rem;
}

.card .card-body .status-assign {
  width: 100%;
}

.card .card-body .btn {
  width: 60%;
  margin-top: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo img {
  width: 30px;
}

h1 {
  font-weight: bold;
}

#DREAMCHASERSTITLE {
  font-weight: 500;
}

#buttontask {
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
  background: rgb(180, 58, 155);
  background: linear-gradient(90deg,
      rgba(180, 58, 155, 0.5) 0%,
      rgba(253, 29, 29, 0.5) 76%,
      rgba(252, 176, 69, 0.5) 100%);
}

.title {
  width: 100%;
  margin: 0 auto;
  border: 1px solid white;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  background: rgb(180, 58, 155);
  background: linear-gradient(90deg,
      rgba(180, 58, 155, 0.5) 0%,
      rgba(253, 29, 29, 0.5) 76%,
      rgba(252, 176, 69, 0.5) 100%);
  color: white;
  margin-top: 40px;
  margin-bottom: 0.5em;
}

.title h4 {
  font-family: cursive, "Doppio One", sans-serif, Verdana;
}

#buttontask:hover {
  background: rgb(180, 58, 155);
  background: linear-gradient(90deg,
      rgba(164, 17, 135, 1) 0%,
      rgba(253, 29, 29, 1) 76%,
      rgba(252, 176, 69, 1) 100%);

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  transition: 0.5s;
}

/* pop up initial setting important */
.form-pop {
  display: none;
  justify-content: center;
  width: 100%;
  margin-top: 2.5em;
}

/* not working with pop fucntion */
.form-modal {
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: white;
  background: rgb(180, 58, 155);
  background: linear-gradient(90deg,
      rgba(180, 58, 155, 0.8) 0%,
      rgba(253, 29, 29, 0.8) 76%,
      rgba(252, 176, 69, 0.8) 100%);
  width: 50%;
  padding: 30px;
  border: 2px white solid;
}

/* modal not working with popup */
/* .form-modal:target {
  display: flex;
  justify-content: center;
  margin: 200px auto;
} */

#submit-button {
  padding-left: 2em;
  padding-right: 2em;
  justify-content: center;
  margin-top: 20px;
  color: white;
  align-self: flex-end;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-group {
  color: white !important;
}

.center h1 {
  text-align: center;
}

footer {
  width: 100%;
  text-align: center;
  color: white;
  height: 3rem;
  background-color: blue;
  display: flex;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  z-index: 5;
}

footer a {
  margin-left: 1rem;
  margin-right: 1rem;
  color: white;
}

#status {
  margin-top: 0.5em;
}

/* media queries, largest screen size to smallest bottom to top (starting from mobile first development) */

/* break into 3 - 2  */
@media only screen and (max-width: 1825px) {
  .title {
    width: 80%;
  }

  #buttontask {
    font-size: 1.5rem;
  }

  .cards {
    width: 100%;
  }
}

@media only screen and (max-width: 1730px) {
  .cards {
    width: 100%;
  }

  .card {
    width: 18%;
  }
}

/* 3 - 2, bigger width for cards */
@media only screen and (max-width: 1320px) {
  .title {
    width: 80%;
  }

  #buttontask {
    font-size: 1.5rem;
  }

  .card {
    width: 25%;
  }

  .form-modal {
    width: 60%;
  }
}

/* align navbar horizontally at breakpoint */

@media only screen and (max-width: 1000px) {
  .navlist .navbar-nav {
    flex-direction: row;
  }

  .form-modal {
    width: 75%;
  }

  .card {
    width: 30%;
  }
}

/* tablet */

@media only screen and (max-width: 820px) {
  .title {
    width: 80%;
  }

  #buttontask {
    font-size: 1.5rem;
  }

  .card {
    width: 45%;
  }

  .cards {
    max-width: 100%;
  }

  .form-modal {
    width: 85%;
  }
}

/* remove nav links and align content to the middle */
@media only screen and (max-width: 750px) {
  .navlist {
    display: none;
    width: 50%;
  }

  .container-fluid.nav-bar {
    justify-content: center;
  }
}

.bottom-details {
  width: 100%;
  height: 2rem;
  background-color: blue;
}

/* small tablet */

@media only screen and (max-width: 620px) {
  .title {
    width: 80%;
  }

  #buttontask {
    font-size: 1.5rem;
  }

  .card {
    width: 45%;
  }

  .cards {
    max-width: 100%;
  }

  .form-modal {
    width: 90%;
  }
}

/* comma is or, and is and */
/* mobile landscape */
@media only screen and (max-width: 500px) and (orientation: landscape) {

  /* find a way to not use important */
  .card {
    width: 45%;
    height: 50%;
  }

  .cards {
    max-width: 100%;
  }
}

/* mobile portrait */
@media only screen and (max-width: 550px) {

  /* find a way to not use important */
  .logo h1 {
    font-size: 1.5em;
  }

  .logo img {
    height: 50px;
  }

  .title {
    width: 95%;
  }

  #buttontask {
    font-size: 1rem;
  }

  .card {
    width: 100%;
  }

  .cards {
    max-width: 95%;
  }
}